@using Task.CommonDefinitions.DTOs;
@model DeviceDTO
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Device</h1>
<form class="pt-3" asp-action="Edit" asp-controller="Devices" id="Edit-Form" method="post">
    <div class="mb-3 col-lg-6">
        <label for="DeviceName" class="form-label">Device Name</label>
        <input type="text" class="form-control" asp-for="DeviceName"  placeholder="Device Name">
        <span class="text-danger field-validation-valid" asp-validation-for="DeviceName"></span>

    </div>
    <div class="mb-3 col-lg-6">
        <label for="SerialNo" class="form-label">Serial No</label>
        <input type="text" class="form-control" asp-for="SerialNo" placeholder="Serial No">
        <span class="text-danger field-validation-valid" asp-validation-for="SerialNo"></span>

    </div>
    <div class="mb-3 col-lg-6">
        <label for="AcquisitionDate" class="form-label">Acquisition Date </label>
        <input type="date" class="form-control" asp-for="AcquisitionDate" placeholder="Acquisition Date">
        <span class="text-danger field-validation-valid" asp-validation-for="AcquisitionDate"></span>

    </div>
    <div class="mb-3 col-lg-6">
        <label for="Memo" class="form-label">Memo</label>
        <input type="text" class="form-control" asp-for="Memo" placeholder="Memo">
        <span class="text-danger field-validation-valid" asp-validation-for="Memo"></span>
    </div>
    <div class="mb-3 col-lg-6">
        <label for="DeviceCategory" class="form-label">Device Category</label>
        <select asp-for="CategoryID" class="form-control" onchange="CategoryChange()">
            <option value="">--- SELECT ---</option>
            @foreach (var item in ViewBag.DeviceCategory)
            {
                if (Model.CategoryID == item.ID)
                {
                    <option value="@item.ID" selected>@item.CategoryName</option>
                    
                }else
                {
                  <option value="@item.ID">@item.CategoryName</option>
                }
            }
        </select>
        <span class="text-danger field-validation-valid" asp-validation-for="CategoryID"></span>
        <input type="hidden" asp-for="ID" value="@Model.ID" />
    </div>
    <div class="mb-3">
        <label for="PropertiesValues" class="form-label">Properties Values</label>
        <hr />
        <div class="row">
            <form id="Props-Form">
            @if(Model.DevicePropertiesDTOs != null)
               {
                    foreach (var Prop in Model.DevicePropertiesDTOs)
                 {
                    <div class="mb-3 col-lg-6 prop" data-id="Prop_@Model.CategoryID">
                        <label for="@Prop.ID" class="form-label">@Prop.PropertyName</label>
                        <input type="text" class="form-control propValues" value="@Prop.Value" placeholder="@Prop.PropertyName">
                        <input type="hidden" class="form-control propId" value="@Prop.ID">
                    </div>
                 }
            }

            @foreach (var Prop in ViewBag.Properties)
            {
                if (Prop.CategoryID != Model.CategoryID)
                {
                    <div class="mb-3 col-lg-6 prop d-none" data-id="Prop_@Prop.CategoryID">
                        <label for="@Prop.ID" class="form-label">@Prop.Description</label>
                        <input type="text" class="form-control propValues" placeholder="@Prop.Description">
                        <input type="hidden" class="form-control propId" value="@Prop.ID">
                    </div>
                }
            }
            </form>
        </div>
    </div>
    <button class="btn btn-success mb-3" type="button" onclick="DevicesForm('Devices','Edit','Edit-Form')" id="BtnSend">
        Save
        <span class="spinner-border Spinner spinner-border-sm d-none" role="status" aria-hidden="true"></span>
    </button>
</form>